.st0 {
    clip-path: url(#SVGID_2_);
    fill: #A0D4DB;
}

.st1 {
    clip-path: url(#SVGID_2_);
}

.st2 {
    fill: #FF8E6B;
}

.st3 {
    fill: #E0653F;
}

.st4 {
    fill: #7BA3A8;
}

.st5 {
    opacity: 8.000000e-002;
}

.st6 {
    opacity: 0.21;
}

.st7 {
    fill: #FFFFFF;
}

.st8 {
    opacity: 7.000000e-002;
}

.st9 {
    opacity: 0.18;
}

.st10 {
    fill: #807268;
}

.st11 {
    fill: #EDEDED;
}

.st12 {
    opacity: 0.57;
    clip-path: url(#SVGID_2_);
}

.st13 {
    opacity: 0.27;
    clip-path: url(#SVGID_2_);
}

.st14 {
    fill: #F2F2F2;
}

.st15 {
    opacity: 9.000000e-002;
    clip-path: url(#SVGID_2_);
}

.st16 {
    opacity: 6.000000e-002;
}

.st17 {
    opacity: 0.48;
    clip-path: url(#SVGID_2_);
}

.st18 {
    fill: #618185;
}

.st19 {
    font-family: 'MountainsofChristmas-Regular';
    ;
}

.st20 {
    font-size: 57.9081px;
}

.st21 {
    font-size: 43.194px;
}

.st22 {
    fill: #759194;
}

.st23 {
    opacity: 0.58;
    clip-path: url(#SVGID_2_);
}

.st24 {
    fill: #F5F5F5;
}

.st25 {
    opacity: 0.67;
    clip-path: url(#SVGID_2_);
}

.st26 {
    opacity: 0.49;
    clip-path: url(#SVGID_2_);
}

.st27 {
    fill: #E6E6E6;
}

.st28 {
    clip-path: url(#SVGID_2_);
    fill: #FFFFFF;
}

.st29 {
    display: none;
    clip-path: url(#SVGID_2_);
}

.st30 {
    display: inline;
}

.st31 {
    fill: #ADC9BF;
}